/* Reset HTML Elements *//* ----------------------------------------- */
*, html, body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
	padding: 0;
    margin: 0 ;
}
fieldset, img {
	border:0
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal;
	font-weight:normal
}
ol, ul, li {
	list-style:none;
}
caption, th {
	text-align:center;
}
q:before, q:after {
	content:''
}
* {
	outline: none;
}
strong {
	font-weight: bold
}
em {
	font-style: italic
}
a img {
	border:none
}
img {}
/*-General Styles------------------------------------------*/
 a{ text-decoration: none !important;}
 a:hover a:focus{text-decoration: none !important;}
p {
	line-height:22px;	
}
.clear {
	clear: both;
}
.right{	float:right;}
.left{float:left;}
/*-------------------begin doc---------------------*/



